@import "../../index.scss";

.confirmation-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 8px;
  padding: 40px 35px 25px 35px;

  transform: translate(-50%, -50%);
}

.confirmation__close-button{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: -31px;
  margin-right: -26px;
  border-radius: 50%;
  background-color: $bg-main;
}

.confirmation__text{
  max-width: 330px;
  text-align: center;
  font-size: 15px;
}

.confirmation__buttons-container{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 15px;
}

.confirmation__action-button{
  margin-right: 12px;
  padding: 5px 15px;
  color: #fff;
  background-color: $color-accent;
  font-size: 15px;
}

.confirmation__cancel-button{
  padding: 5px 15px;
  color: $color-text-main;
  background-color: $bg-main;
  font-size: 15px;
}
